<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>com.gmail.vitaliapetsenak.shop.web.filter.RequestEncodeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>permission</filter-name>
        <filter-class>com.gmail.vitaliapetsenak.shop.web.filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>permission</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>permission</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.gmail.vitaliapetsenak.shop.web.listener.ProgressUploadListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.StartPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.news.AdminNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_catalog</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.catalog.AdminCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_purchases</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.purchases.AdminPurchasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_add_goods</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.catalog.AdminAddGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_update_goods</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.catalog.AdminUpdateGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_add_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.news.AdminAddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_update_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.news.AdminUpdateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_catalog</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_info</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_purchases</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserPurchasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_info_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_update_purchase</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserUpdatePurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_purchases_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.purchases.AdminPurchasesUpdateServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_selected_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.admin.news.AdminSelectedNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_add_goods</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.catalog.RootAddGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_catalog</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.catalog.RootCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_goods_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.catalog.RootUpdateGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_news_add</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.news.RootAddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_news</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.news.RootNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_news_selected</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.news.RootSelectedNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_news_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.news.RootUpdateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_purchases</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.purchases.RootPurchasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_purchases_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.purchases.RootPurchasesUpdateServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_users</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.users.RootUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_users_update</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.users.RootUsersUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>root_servlet</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.root.RootServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_cart</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_cart_confirm</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.user.UserCartConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.gmail.vitaliapetsenak.shop.web.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_cart_confirm</servlet-name>
        <url-pattern>/user/cart/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_cart</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_servlet</servlet-name>
        <url-pattern>/root</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_users_update</servlet-name>
        <url-pattern>/root/users/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_users</servlet-name>
        <url-pattern>/root/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_purchases_update</servlet-name>
        <url-pattern>/root/purchases/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_purchases</servlet-name>
        <url-pattern>/root/purchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_news_update</servlet-name>
        <url-pattern>/root/news/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_news_selected</servlet-name>
        <url-pattern>/root/news/selected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_news</servlet-name>
        <url-pattern>/root/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_news_add</servlet-name>
        <url-pattern>/root/news/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_goods_update</servlet-name>
        <url-pattern>/root/catalog/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_catalog</servlet-name>
        <url-pattern>/root/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>root_add_goods</servlet-name>
        <url-pattern>/root/catalog/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_selected_news</servlet-name>
        <url-pattern>/admin/news/selected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>news</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_news</servlet-name>
        <url-pattern>/user/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_purchases_update</servlet-name>
        <url-pattern>/admin/purchases/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_update_purchase</servlet-name>
        <url-pattern>/user/info/purchases/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_info_update</servlet-name>
        <url-pattern>/user/info/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_purchases</servlet-name>
        <url-pattern>/user/info/purchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_info</servlet-name>
        <url-pattern>/user/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_catalog</servlet-name>
        <url-pattern>/user/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_update_news</servlet-name>
        <url-pattern>/admin/news/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_add_news</servlet-name>
        <url-pattern>/admin/news/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_update_goods</servlet-name>
        <url-pattern>/admin/catalog/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_add_goods</servlet-name>
        <url-pattern>/admin/catalog/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_purchases</servlet-name>
        <url-pattern>/admin/purchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_catalog</servlet-name>
        <url-pattern>/admin/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_news</servlet-name>
        <url-pattern>/admin/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
